/**/.vs
/**/bin
/**/obj
/**/AutoGen
/**/Logs
/**/node_modules
/**/Reports/data
/**/JSReport

**/static/horse-derby/*
!**/static/horse-derby/DontAddToGit.txt
!**/static/horse-derby/Landing.html
!**/static/horse-derby/ipc.js
!**/static/horse-derby/style.css

**/static/color-game/*
!**/static/color-game/DontAddToGit.txt
!**/static/color-game/Landing.html
!**/static/color-game/ipc.js
!**/static/color-game/style.css

